@import '~antd/es/style/themes/default.less';

.main {
  width: 100%;
  background: @component-background;
}

.manage-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.manage-card {
  margin: 10px;
  width: 380px;
  height: 330px;
  border: 1px solid #ccc;
  flex-shrink: 1;

  &:hover {
    box-shadow: 0 1px 2px -2px rgba(0,0,0,.16), 0 3px 6px 0 rgba(0,0,0,.12), 0 5px 12px 4px rgba(0,0,0,.09);
  }

  &.bg-farm {
    background: no-repeat center center url(../../assets/farm-bg.png);
    background-size: cover;
  }

  &.bg-animal {
    background: no-repeat center center url(../../assets/animal-bg.png);
    background-size: cover;
  }

  &.bg-device {
    background: no-repeat center center url(../../assets/device-bg.png);
    background-size: cover;
  }


  &.bg-vaccine {
    background: no-repeat center center url(../../assets/vaccine-bg.png);
    background-size: cover;
  }

  &.bg-system {
    background: no-repeat center center url(../../assets/system-bg.png);
    background-size: cover;
  }

  &.bg-params {
    background: no-repeat center center url(../../assets/params-bg.png);
    background-size: cover;
  }


  .manage-card-bg {
    height: 60%;
    background: #000;
  }
  
  .manage-card-title {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 20px;
    color: #111111;
  }

  .manage-detail-list {
    display: flex;
    
    .manage-detail {
      flex: 1;
      
      .detail-title {
        font-size: 14px;
        color: #9B9B9B;
        text-align: center;
      }

      .detail-content {
        font-size: 28px;
        color: #1461CC;
        text-align: center;
      }

      .detail-content.abnormal {
        color: #FFA004;
      }
    }
  }

}