.search-button {
  display: flex;
  justify-content: flex-end;
}

.farm-manage-container {
  .operate-area {
    display: flex;
    justify-content: space-between;
  }
}

.content-area {
  margin-top: 16px;

  .farm-card-col {
    margin-top: 16px;

    // &:hover {
    //   box-shadow: 0 1px 2px -2px rgba(0,0,0,.16), 0 3px 6px 0 rgba(0,0,0,.12), 0 5px 12px 4px rgba(0,0,0,.09);
    // }
  }
}