.health-manage-operator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 12px;

  .operator-button {
    display: flex;
    align-items: center;

    .total-select {
      margin-right: 12px;
    }
  }
  
}


.header-title {
  margin-bottom: 16px;
  padding: 8px 20px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  font-size: 16px;
}

.ant-descriptions-header {
  padding: 8px 20px;
  background-color: #f2f2f2;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  .header-title {
    margin-bottom: unset;
  }

  .header-range-pciker {
    padding-right: 6px;
  }
}

.history-record {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-range-pciker {
    font-weight: 400;
    font-size: 14px;
  }
}
